/**
* WebsiteNI Joints
* WebsiteNI Starter Theme built on JointsWP; http://jointswp.com/.
* Created by WebsiteNI.
*/

.site-footer {
    position: relative;
    overflow: hidden;
    background: #263676;
    color: #fff;
    padding: 60px 0 20px 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        width: inherit;
        height: inherit;
        background-image: url(../images/footer/footer-bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;
    }


@include breakpoint (large) {
    padding: 100px 0 20px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    margin-bottom: 40px;
    font-size: 38px;
    letter-spacing: -1.9px;

    @include breakpoint (xxlarge) {
        font-size: 50px;
        letter-spacing: -2.5px;
    }
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 30px;

    @include breakpoint (medium) {
        flex-direction: row;
        gap: 0;
    }

    @include breakpoint (large) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include breakpoint (xxlarge) {
        margin-top: 60px;
        margin-bottom: 90px;
    }

    .contact-item {
        display: flex;
        gap: 12px;
        align-items: center;

        .contact-icon {
            flex-shrink: 0;
        }

        .contact-text {
            font-weight: 700;
            letter-spacing: -0.3px;
        }
    }
}

.site-footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 0px;

    @include breakpoint(large) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}

.site-footer-legal {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: $heading;
    font-weight: 700;
    font-size: 12px;

    @include breakpoint (large) {
        gap: 30px;
    }
}

.socials {
    display: flex;
    align-items: center;
    gap: 14px;
    order: -1;
    margin-bottom: 60px;

    @include breakpoint(large) {
        order: 0;
        margin-left: auto;
        justify-content: flex-end;
        flex-shrink: 0;
    }
}

.social-link {
    position: relative;

    &:hover,
    &:focus {
        transform: translateY(-2px);
    }
}
}